html, body {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100%;
  scroll-behavior: smooth;
  margin: 0;
  color: rgb(234, 234, 249);
  overscroll-behavior: none;
}


section {
  height: 100vh;
  scroll-snap-align: start;
}

#myWork {
  height:fit-content;
}

#video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -100;
  background: no-repeat;
  background-size: cover;
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .fade-in {
    animation: 2.5s ease-out 0s 1 fadeIn;
  }

  .fade-in-fast {
    animation: 1s ease-out 0s 1 fadeIn;
  }

  
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .slide-in-first {
    opacity: 0;
    animation: 1s ease-out 1.5s 1 slideInFromLeft forwards;
  }

  .slide-in {
    opacity: 0;
    animation: 1s ease-out 0s 1 slideInFromLeft forwards;
  }


.hero {
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-size: 25px;
    text-align: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 100vh;
    
}


.hero h1 {
    font-size: 55px;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    
}


#gradient { 
  background: #F943C9;
  background: linear-gradient(to right, #F943C9 0%, #1760f3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  font-family: "Syne", sans-serif;
  font-weight: 600;
}

#gradient-small {
  background: #F943C9;
  background: linear-gradient(to right, #F943C9 0%, #1760f3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

.button-resume {
color: #F943C9;
border: 1px solid#F943C9;
box-shadow: 0 0 5px #F943C9, 0 0 5px #F943C9 inset;
z-index: 1;
margin: 10px;
width: 150px;
height: 20px;
padding: 10px 25px;
font-family: 'Inter', sans-serif;
font-weight: 200;
font-size: 16px;
background: transparent;
cursor: pointer;
transition: all 0.3s ease;
position: relative;
display: inline-block;
text-decoration: none;
}

.button-resume:after {
position: absolute;
content: "";
width: 0;
height: 100%;
top: 0;
right: 0;
z-index: -1;
background: #F943C9;
box-shadow:
 0 0 20px  #F943C9;
transition: all 0.3s ease;
}
.button-resume:hover {
color: #fff;
}
.button-resume:hover:after {
left: 0;
width: 100%;
}
.button-resume:active {
top: 2px;
}


.fa-brands {
  color: rgb(87, 63, 100);
  
  margin: 50px 10px 10px 10px;
  transition: all 0.3s ease;
  text-decoration: none;

}

.fa-brands:hover {
  color: #370f74;
}

#myWork {
  background-color: rgb(230, 224, 251);
  z-index: 1;
}

.home-container {
  margin-top: 200px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 20px;
  padding: 20px;
  width: 80%;
  min-height: 200px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  background: radial-gradient(#76b2fe, #b69efe);
}

.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}


.card__title {
  font-family: "Syne", sans-serif;
  font-weight: 600;
  font-size: 45px;
  color: #ffffff;
  margin-bottom: 10px;
}

.card p {
font-family: 'Inter', sans-serif;
font-weight: 400;
font-size: 16px;
}

.card__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}


.projectImg {
  width: 300px;
  margin-right: 20px;
}

.cardInfo {
  overflow: hidden; /* Keep content from spilling out during transition */
  transition: opacity 0.5s ease; /* Smooth transition for opacity */
}

#construction {
  color: black;
}



